.specifications-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: #ffffff;
}

.specs-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.back-linkp {
  border: none;
  padding: 20px 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: "TTR";
  color: #333;
  text-decoration: none;
  font-size: 26px;
  transition: all 0.4s ease; 
}

.back-linkp:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.specs-product-info {
  display: flex;
  padding: 5px 10px 5px 10px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  align-items: center;
  gap: 20px;
}

.specs-product-image {
  width: 65px;
  height: 65px;
  object-fit: contain;
}

.specs-main-title {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #000;
  font-family: "TTR";
}

.specs-buy-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.specs-price {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  font-family: "TTR";
}

.specs-buy-button {
  padding: 10px 30px;
  background-color: #FFFFFF;
  color: #000;
  border: 2px solid #000;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  font-family: "TTR";
  cursor: pointer;
  transition: all 0.3s;
}

.specs-buy-button:hover {
  background-color: #000;
  color: #fff;
}

.specs-content {
  margin-top: 30px;
  margin-left: 30px;
}

.spec-category {
  margin-bottom: 45px;
}

.spec-category-title {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #000;
  font-family: "TTR";
}

.spec-list {
  display: grid;
  grid-template-columns: max-content 1fr 1fr;
  gap: 10px 15px;
  align-items: center;
}

.spec-row {
  display: contents;
}

.spec-label {
  color: #0c0c0c;
  font-size: 18px;
  font-weight: 200;
  text-align: left;
  font-family: "TTR";
  line-height: 1.3;
  flex-shrink: 0;
}

.spec-line {
  flex-grow: 1;
  height: 1px;
  background-color: #000;
  min-width: 40px;
}

.spec-value {
  color: #030303;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  font-family: "TTR";
  line-height: 1.3;
  flex-shrink: 0;
  white-space: nowrap;
}

